.dice-table.container {
  max-width: 540px; }

.dice-table .table {
  width: auto;
  min-width: 0; }

.dice-table .dice-input {
  font-size: 1rem !important; }

.dice-table .dice-input .form-control {
  font-size: inherit;
  padding-left: 0.55em;
  padding-right: 0.25em;
  min-width: 2.5em; }
