@import "../_includes.scss";

.faction-summary {
    overscroll-behavior: none;

    &.container {
        &.select-factions {
            max-width: map-get($container-max-widths, sm);
        }
        &.summary-results {
            max-width: 1600px;
        }
    }

    .faction-summary-images {
        list-style: none;
        padding: 0;
        margin: 0 0 $spacer 0;
        // li {
        //     display: block;
        //     width: 100%;
        //     margin: 0 0 $spacer 0;
        // }
        .faction-row {
            display: flex;
            width: 100%;
            margin: 0 0 $spacer 0;
            padding: 0;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            overscroll-behavior: none;

            // @for $size from 2 through 8 {
            //     &.row-size-#{$size} {
            //         width: $size * 100%;
            //         .image-cell {
            //             flex-basis: ceil(100% / ($size + 1));
            //         }
            //     }
            // }
        }
        .image-cell {
            display: block;
            width: 100%;
            height: auto;
            flex-shrink: 0;
            scroll-snap-align: start;
            margin-right: $spacer;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .faction-link {
        line-height: 24px;
        vertical-align: middle;
        margin-left: 0.5em;
        display: inline-block;
    }
}