@import '../../styles/includes';

$tile-width-relative: 17.5vw;
$place-wrapper-relative: 13vw;
$tile-absolute-breakpoint: 600px + $grid-gutter-width;
$tile-width: 105px;
$place-wrapper: 78px;

#map-builder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .map-container {
        width: $tile-width-relative * 5.5;
        height: hexHeight($tile-width-relative) * 7;
        margin: 0 auto 1rem;
        position: relative;
    }
    .map-place-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        width: $place-wrapper-relative;
        height: $place-wrapper-relative;
        border-radius: 50%;
        border: 2px dashed rgba(255,255,255,0.1);
        &:hover {
            border: 2px dashed #ffffff;
            z-index: 200 !important;
            .map-place {
                background: rgba(255,255,255,0.2);
            }
        }
        .map-place {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: none no-repeat 50% 50%;
            background-size: contain;

            width: $tile-width-relative;
            height: hexHeight($tile-width-relative);
        }
    }

    @media only screen and (min-width: $tile-absolute-breakpoint) {
        .map-container {
            width: $tile-width * 5.5;
            height: hexHeight($tile-width) * 7;
        }
        .map-place-wrapper {
            width: $place-wrapper;
            height: $place-wrapper;
            .map-place {
                width: $tile-width;
                height: hexHeight($tile-width);
            }
        }
    }
}